players: 
<ul>
  <li ng-repeat="player in ctrl.players">
    {{player.name}} | chips: {{player.chips}} | bet: {{player.betAmount}}
    <span ng-show="$index == ctrl.thisPlayerIndex">(you)</span>
    <span ng-show="$index == ctrl.currPlayerIndex">(playing)</span>
  </li>
</ul>
hand: {{ctrl.hand.prettyPrint()}}

<br>
<div ng-if="ctrl.thisPlayerIndex == ctrl.currPlayerIndex">
<button ng-click="ctrl.fold()">fold</button>
<button ng-disabled="ctrl.getThisPlayer().chips < ctrl.toCallChips" ng-click="ctrl.call()">
  <span ng-show="ctrl.toCallChips > 0">call {{ctrl.toCallChips}}</span>
  <span ng-show="ctrl.toCallChips == 0">check</span>
</button>
<button ng-click="ctrl.raise(ctrl.raiseChips - ctrl.toCallChips)">bet/raise to</button>
<input type="number" ng-model="ctrl.raiseChips"></input>
</div>

<br>
<ul>
  <li ng-repeat="log in ctrl.logStr track by $index">{{log}}</li>
</ul>
