<button ng-click="ctrl.createTable()">Create</button>

<ul>
  <li ng-repeat="table in ctrl.tables">
    blind {{table.blind}} | size {{table.size}} | 
    <button ng-click="ctrl.joinTable(table)">Join</button>
  </li>
</ul>
