<div ng-form="ctrl.form">
  <input type="text" placeholder="Fancy name" 
    ng-model="ctrl.name" required
    ng-keyup="($event.keyCode == 13) && ctrl.joinLobby()">
  </input>

  <span ng-show="ctrl.form.$submitted && ctrl.form.$error.required">Required!</span>
</div>